body{
    background-color: rgb(224, 216, 212);
    margin:0;
    font-family: 'DM Sans', sans-serif;

}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 130px;
    
}
.grid-container {
   
    
    background-color: white;
    font-size: 30px;
   
}
.input-form{
    
    display: block;
    text-align: center;
    margin-right: -80px;
    margin-left: 100px;
}

.image{
   
    background-image: url("pic.jpg");
    background-size: cover;
    height:600px;
    margin-right: 100px;
    margin-left: -5px;
    border-top-left-radius:100px;
    border-bottom-left-radius:100px ;
   
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
   

}
h5,h6{
    margin: 0;
    padding: 0;
}
h5{
    padding-top: 150px;
    padding-bottom: 10px;
   
}

h6{
    color:#cdd0d7;
    font-size: 15px;
    padding-bottom: 20px;


}

input{
    border: none;
    font-size: 13px;
    border-bottom: 1px solid grey;
    outline: none;
    width: 250px;
    height: 40px;
    
}
button{
    
    border-radius: 5px;
    text-align: center;
    width: 254px;
    height:32px;
    
}
.create{
    background-color: rgb(4, 4, 47);
   
    color:white;
}
.sign{
    color:black;
    background-color: white;
    border: 0.5px grey solid;
    
}
p{
    color:#cdd0d7;
    font-size: 13px;;
    padding-left: 40px;